<div id="productList" align="center" style="font-size: 15px">
    <span class="row">
        <span ng-repeat="product in controller.products">

            <div class="product-element well">

                <div class="product-header" style="text-align:center">
                    <div class="label label-default"
                         style="font-size: 20px; background: transparent; color: #2b542c" ng-bind="product.name"></div>

                    </br> <div class="text-muted"
                                        style="font-size: 17px; background: transparent; color: #2b542c"
                                        ng-bind="product.price+' Rs'"></div>

                </div>

                <div class="product-body" style="text-align:center"></div>

                <div class="product-footer" style="text-align:center">
                    <input type="number" min="1" max="20"/>
                    <a class="btn btn-sm product-button">
                        <span class="glyphicon glyphicon-shopping-cart" style="color:black;font-size:15px"></span>
                    </a>
                </div>
            </div>
            </span>
        </span>
</div>