.panel-default>.panel-heading {
    color: #FFFFFF;
    background-color: #5CDE5C;
    border-color: #ddd;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 45px;
}

.panel-body {
    padding: 15px;
    height: 80%;
}

.panel-footer {
    bottom: 0%;
    position:absolute;
    width: auto;
    border: none;
}